.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .tabs-icon {
    font-size: 10px;
    overflow: hidden;
  }

  .tabs-icon i {
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 24px;
    color: white;
  }

  /* OVERWRITE MATERIAL CSS MIN WIDTH FOR MOBILE */
  .tabs .tab {
    min-width: 50px !important
  }

  .tabs .tab-hide {
    display: none;
  }

  .no-pd {
    padding: 0 !important
  }
  
  .tab-text {
      font-size: 10px;
  }