<div class="row">
  <div class="col s12 blue-grey darken-3 no-padding footer-fixed hide-on-med-and-up">
      <ul class="menu-tabs center-align">
         
          <li class="col s2 menu-tab no-padding">
              <a class="waves-light" routerLinkActive="active" routerLink="/dashboard">
                  <i class="material-icons menu-tab-icon">home</i>
                  <span class="menu-tab-text">home</span>
              </a>
          </li>
         
          <li class="col s3 menu-tab no-padding">
              <a class="waves-light"  routerLinkActive="active" routerLink="/users">
                  <i class="material-icons menu-tab-icon">account_box</i>
                  <span class="menu-tab-text">user</span>
              </a>
          </li>
         
          <li class="col s2 menu-tab no-padding">
              <a class="waves-light" routerLinkActive="active" routerLink="/clients">
                  <i class="material-icons menu-tab-icon">search</i>
                  <span class="menu-tab-text">search</span>
              </a>
          </li>
         
          <li class="col s3 menu-tab no-padding">
              <a class="waves-light" routerLinkActive="active" routerLink="/vehicles">
                  <i class="material-icons menu-tab-icon">mail_outline</i>
                  <span class="menu-tab-text">Mailbox</span>
              </a>
          </li>
         
          <li class="col s2 menu-tab no-padding">
              <a class="waves-light" routerLinkActive="active" routerLink="/dashboard">
                  <i class="material-icons menu-tab-icon">menu</i>
                  <span class="menu-tab-text">menu</span>
              </a>
          </li>
          
      </ul>
  </div>
</div>
