<!-- START HEADER -->
<app-header></app-header>
<!-- END HEADER -->
<!-- START MAIN -->
<div id="main" class="main-full">
    <!-- START WRAPPER -->
    <div class="wrapper">
    <!-- START LEFT SIDEBAR NAV-->
    <app-sidenav></app-sidenav>
    <!-- END LEFT SIDEBAR NAV-->
    <!-- START CONTENT -->
    <section id="content">
      <!--breadcrumbs start-->
      <app-breadcrumbs></app-breadcrumbs>
      <!--breadcrumbs end-->
      <!--start container-->
      <div class="container">


          
        <router-outlet></router-outlet>


        <!-- Floating Action Button -->
        <app-floating-button></app-floating-button>
        <!-- Floating Action Button -->
      </div>
      <!--end container-->
    </section>
    <!-- END CONTENT -->
  </div>
  <!-- END WRAPPER -->
</div>
<!-- END MAIN -->
<!-- START TABNAV -->
<app-tabnav></app-tabnav>
<!-- END TABNAV -->
<!-- START FOOTER -->
<app-footer></app-footer>
<!-- END FOOTER -->