<aside id="left-sidebar-nav" class="nav-expanded nav-collapsible nav-collapsed">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a href="index.html" class="brand-logo darken-1">
        <img src="assets/images/logo/materialize-logo.png" alt="materialize logo">
        <span class="logo-text">SmartGPS</span>
      </a>
      <a class="navbar-toggler">
        <i class="material-icons">radio_button_unchecked</i>
      </a>
    </h1>
  </div>
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
          <a href="#" class="waves-effect waves-cyan">
            <i class="material-icons">dashboard</i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="li-hover">
      <p class="ultra-small margin more-text">MORE</p>
    </li>
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li class="bold">
          <a class="collapsible-header  waves-effect waves-cyan">
            <i class="material-icons">photo_filter</i>
            <span class="nav-text">Menu Levels</span>
          </a>
          <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <a href="ui-basic-buttons.html">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <span>Second level</span>
                </a>
              </li>
              <li class="bold">
                <a class="collapsible-header  waves-effect waves-cyan">
                  <i class="material-icons">keyboard_arrow_right</i>
                  <span class="nav-text">Second level child</span>
                </a>
                <div class="collapsible-body">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <a href="ui-basic-buttons.html">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Third level</span>
                      </a>
                    </li>
                    <li class="bold">
                      <a class="collapsible-header  waves-effect waves-cyan">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="nav-text">Third level child</span>
                      </a>
                      <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                          <li>
                            <a href="ui-basic-buttons.html">
                              <i class="material-icons">keyboard_arrow_right</i>
                              <span>Forth level</span>
                            </a>
                          </li>
                          <li>
                            <a href="ui-extended-buttons.html">
                              <i class="material-icons">keyboard_arrow_right</i>
                              <span>Forth level</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only hide-on-small-only gradient-45deg-light-blue-cyan gradient-shadow">
    <i class="material-icons">menu</i>
  </a>
</aside>
