
.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 !important
  }

.menu-tabs {
  display: flex;
  text-align: center;
}

.menu-tab {
  list-style: none;
  display: block;
  font-size: 10px;
  overflow: hidden;
}

.menu-tabs .menu-tab {
  min-width: 50px !important;
}

.menu-tab a {
  text-decoration: none;
  display: block;
}

.menu-tab i {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: 24px;
  color: white;
}

.menu-tab-text {
  font-size: 10px;
  text-transform: uppercase;
}

.menu-tab:hover {
   transform: scale3d(1.2, 1.2, 1.2);
}    
 
.menu-tab:hover i {
    color: #039be5;
 }

.menu-tab:hover span {
    color: #039be5;
}

.menu-tab a:focus {
    border-bottom: 2px solid white;
}

.menu-tab:focus i {
    color: #039be5;
 }

.menu-tab:focus span {
    color: #039be5;
}