<div class="row">
  <div class="col s12 footer-fixed hide-on-med-and-up">
    <ul class="menu-tabs blue-grey darken-3">
      <li class="menu-tab col s3">
        <a class="white-text waves-effect waves-light active" href="#">
          <i class="material-icons" aria-hidden="true">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>
      <li class="menu-tab col s3">
        <a class="white-text waves-light active" href="#">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

      <li class="menu-tab col s3">
        <a class="white-text waves-light active" routerLink="/dashboard">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

      <li class="menu-tab col s3">
        <a class="white-text waves-light active" routerLink="/users">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

    </ul>
  </div>
</div>

<br><br><br><br><br><br>




<div class="row">
  <div class="col s12 no-pd">
    <ul class="tabs tabs-icon blue-grey darken-3">

      <li class="tab col s3">
        <a class="white-text waves-effect waves-light" href="">
          <i class="material-icons">home</i>
          <span class="tab-text">home</span>
        </a>
      </li>

      <li class="tab col s3">
        <a routerLinkActive="active" routerLink="/users" class="white-text waves-effect waves-light">
          <i class="material-icons">home</i>
          <span class="tab-text">home</span>
        </a>
      </li>

      <li class="tab col s3">
        <a class="white-text waves-effect waves-light" href="#">
          <i class="material-icons">home</i>
          <span class="tab-text">home</span>
        </a>
      </li>

      <li class="tab col s3">
        <a routerLinkActive="active" routerLink="/dashboard" class="white-text waves-effect waves-light">
          <i class="material-icons">home</i>
          <span class="tab-text">home</span>
        </a>
      </li>      

    </ul>
  </div>
</div>
