<div class="row">
  <div class="col s12 no-padding footer-fixed hide-on-med-and-up">
    <ul class="menu-tabs blue-grey darken-3">

      <li class="menu-tab col s3">
        <a class="white-text waves-effect waves-light" routerLink="/dashboard">
          <i class="material-icons" aria-hidden="true">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

      <li class="menu-tab col s3">
        <a class="white-text waves-light" routerLink="/users">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

      <li class="menu-tab col s3">
        <a class="white-text waves-light" routerLink="/clients">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

      <li class="menu-tab col s3">
        <a class="white-text waves-light" routerLink="/vehicles">
          <i class="material-icons">home</i>
          <span class="menu-tab-text">Home</span>
        </a>
      </li>

    </ul>
  </div>
</div>
  