<footer class="page-footer hide-on-med-and-down">
  <div class="footer-copyright">
    <div class="container">
      <span>Copyright ©
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        <a class="blue-text text-light-blue" href="#"
          target="_blank">SmartSystems</a> All rights reserved.</span>
      <span class="right hide-on-small-only"> Design and Developed by <a class="blue-text text-light-blue" href="#">SmartSystems</a></span>
    </div>
  </div>
</footer>
